.profile-photo {
	width: 150px;
}

h2{ width: 150x;
	color: rey;
	background-color: hotpink;

}

h3{ width: 10x;
	color: reen;
	background-color: lightpink;

}

h4{ color: black;
	background-color:pink ;

}